Flask==3.0.3
Flask-Session==0.8.0
Flask-Caching==2.3.0
spotipy==2.25.1
python-dotenv==1.0.1
cryptography==42.0.8
pydantic==2.8.2
langchain==0.2.7
langchain-openai==0.1.15
openai==1.35.13
tiktoken==0.7.0
gunicorn==22.0.0
pytest==8.3.2
pytest-mock==3.14.0
