{% extends "layout.html" %}

{% block navbar %}

    <div class="dropdown ms-auto me-lg-2" data-bs-theme="dark">
        <a class="dropdown-toggle d-flex align-items-center text-decoration-none" href="#" role="button" id="userDropdown" data-bs-toggle="dropdown" aria-expanded="false">
            <img src="{{ user.image_url if user.image_url else url_for('static', filename='images/default-user.png') }}" class="rounded-circle" width="48" height="48" alt="User image">
        </a>
        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="userDropdown">
            <li>
                <a href="/auth/logout" class="dropdown-item">Log out</a>
            </li>
        </ul>
    </div>

{% endblock %}

{% block main %}

    <section id="main">

        <div class="container-fluid d-flex justify-content-center text-center p-4 p-lg-5 flex-column">
            <div class="row pb-3 pb-lg-5">
                <h1 class="display-1 fw-bold">Rantify</h1>
            </div>
            <div class="row justify-content-center column-gap-5">
                <div class="col-lg-5 g-4 pe-3">
                    <div class="card rant-card rounded-4 h-auto">
                        <div class="card-body">
                            <h3 class="card-title pb-3">Rant my</h3>
                            <form id="rant-form" class="col-12 col-lg-10 d-grid mx-auto pb-2" onsubmit="return false;">
                                <select id="playlist-select" name="playlist" required class="form-select mb-3">
                                    <option disabled selected value="">Playlist</option>
                                    {% for playlist in playlists %}
                                        <option value="{{ playlist.id }}">{{ playlist.name }}</option>
                                    {% endfor %}
                                </select>
                                <div id="rant-buttons" class="d-flex justify-content-center">
                                    <button id="rate-button" class="rant-button btn btn-lg btn-green rounded-5 flex-grow-1 mx-1 mx-lg-2">Rate</button>
                                    <button id="roast-button" class="rant-button btn btn-lg btn-red rounded-5 flex-grow-1 mx-1 mx-lg-2">Roast</button>
                                    <button id="rhyme-button" class="rant-button btn btn-lg btn-blue rounded-5 flex-grow-1 mx-1 mx-lg-2">Rhyme</button>
                                </div>
                            </form>
                            <div id="rant-error" class="text-danger">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5 g-4 pe-3">
                    <div class="card rant-card rounded-4 h-100">
                        <div class="card-body d-flex flex-column h-100">
                            <h3 class="card-title pb-3">Result</h3>
                            <div id="rant-display" class="d-flex flex-column mx-auto flex-grow-1 pb-2 px-lg-3">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>


    <script src="{{ url_for('static', filename='js/rantify.js')}}"></script>

{% endblock %}
