@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --color-body: #222222;
    --color-navbar: #181818;
    --font-base: "Kanit";
    --font-base-color: #fdfdfd;
    --color-green: #00634F;
    --color-green-secondary: #1DD25E;
    --navbar-height: 70px;
}

body {
    background-color: var(--color-body);
    font-family: var(--font-base), sans-serif;
    color: var(--font-base-color);
    max-width: 100%;
}

.navbar {
    height: var(--navbar-height);
    background-color: var(--color-navbar);
}

.rant-card {
    background-color: var(--color-navbar);
    color: var(--font-base-color);
}

.btn-green {
    background-color: var(--color-green);
    border-color: var(--color-green);
    color: var(--font-base-color);
}

.btn-green:hover,
.btn-green:focus {
    background-color: var(--color-green-secondary);
    border-color: var(--color-green-secondary);
    color: var(--font-base-color);
}

#rant-buttons .btn-green:disabled,
#rant-buttons .btn-green:active,
#rant-buttons .btn-green:visited {
    background-color: var(--color-green);
    border-color: var(--color-green);
    color: var(--font-base-color);
    opacity: 0.6;
    animation: dots 1.4s steps(5, end) infinite;
}
}